body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(65, 65, 65);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

#gallery img {
    width: 300px;
    margin: 10px;
    border-radius: 5px;
}